<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/output.css" />
    <title>Mini Message Board - New Message</title>
  </head>
  <body class="h-screen p-4 bg-white dark:bg-gray-900">
    <div
      aria-hidden="true"
      class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
    >
      <div
        style="
          clip-path: polygon(
            74.1% 44.1%,
            100% 61.6%,
            97.5% 26.9%,
            85.5% 0.1%,
            80.7% 2%,
            72.5% 32.5%,
            60.2% 62.4%,
            52.4% 68.1%,
            47.5% 58.3%,
            45.2% 34.5%,
            27.5% 76.7%,
            0.1% 64.9%,
            17.9% 100%,
            27.6% 76.8%,
            76.1% 97.7%,
            74.1% 44.1%
          );
        "
        class="relative left-[calc(50%-11rem)] aspect-1155/678 w-144.5 -translate-x-1/2 rotate-30 bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-288.75"
      ></div>
    </div>
    <main class="w-full mx-auto md:w-5/6 lg:w-1/2">
      <h1 class="font-bold text-3xl my-8 text-black dark:text-white">
        New Message
      </h1>

      <form
        class="flex items-center flex-col gap-4 py-6 px-4 bg-[rgba(248,250,252,0.7)] dark:bg-[rgba(31,41,55,0.7)] rounded backdrop-blur-lg"
        method="POST"
        action="/new"
      >
        <label
          class="gap-2 flex flex-col md:w-1/2 w-full text-black dark:text-gray-200"
          for="user"
        >
          Name:
          <input
            class="border-2 border-gray-500 dark:border-gray-100 rounded-md p-1"
            type="text"
            name="user"
            id="user"
            required
          />
        </label>
        <label
          class="gap-2 flex flex-col md:w-1/2 w-full text-black dark:text-gray-200"
          for="message"
        >
          Your Message:
          <textarea
            class="border-2 border-gray-500 dark:border-gray-100 rounded-md p-1 h-40"
            name="message"
            id="message"
            required
          ></textarea>
        </label>
        <button
          class="bg-green-600 px-8 py-2 text-white my-4 rounded"
          type="submit"
        >
          Send
        </button>
        <%- include("partials/error") %>
      </form>
    </main>
    <div
      aria-hidden="true"
      class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
    >
      <div
        style="
          clip-path: polygon(
            74.1% 44.1%,
            100% 61.6%,
            97.5% 26.9%,
            85.5% 0.1%,
            80.7% 2%,
            72.5% 32.5%,
            60.2% 62.4%,
            52.4% 68.1%,
            47.5% 58.3%,
            45.2% 34.5%,
            27.5% 76.7%,
            0.1% 64.9%,
            17.9% 100%,
            27.6% 76.8%,
            76.1% 97.7%,
            74.1% 44.1%
          );
        "
        class="relative left-[calc(50%+3rem)] aspect-1155/678 w-144.5 -translate-x-1/2 bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-288.75"
      ></div>
    </div>
  </body>
</html>
